<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Editar Video</title>
</head>
<body>
    <nav class="navbar">
        <div class='max-width'>
           <div class="logo">MusicRepo<span>
               <h1>Biblioteca de Vídeos Musicais</h1>
           </span>
           </div>
           <ul class='menu'>
               <li><a href="/" class="menu-btn"><span>Home</span></a></li>
           </ul>
        </div>
       </nav>    


       <section class="home">
        <% if (videos && videos.length) { %>
            <% for (let i = 0; i < videos.length; i++) { %>
                <div class="video-container">
                    <iframe width="800" height="500" src="<%= videos[i].url %>" frameborder="0" allowfullscreen></iframe>
                    <br><hr><br>
                    <ul class="video-info">
                        <li><span>Música: <%= videos[i].musica %></span></li>
                        <li><span>Artista: <%= videos[i].artista %></span></li>
                        <li><span>Ano: <%= videos[i].ano %></span></li>
                    </ul>                       
                </div>
            <% } %>
        <% } else { %>
            <p>Nenhum vídeo encontrado.</p>
        <% } %>
    </section>
   
    <h1 class="cadvideotitle">Editar Vídeo</h1>
    <div class="cadastrovideocont">
    <form action="" method="post">
        <div>
            <label for="artista">Artista:</label>
            <input type="text" id="artista" name="artista" required>
        </div>
        
        <div>
            <label for="musica">Música:</label>
            <input type="text" id="musica" name="musica" required>
        </div>
        
        <div>
            <label for="ano">Ano:</label>
            <input type="number" id="ano" name="ano" required>
        </div>
        
        <div>
            <label for="categoria">Categoria:</label>
            <select id="categoria" name="categoria" required>
                <option value="rock">Rock</option>
                <option value="pop">Pop</option>
                <option value="hip-hop">Hip-Hop</option>
            </select>
        </div>
        
        <div>
            <label for="url">URL do Vídeo:</label>
            <input type="url" id="url" name="url" required>
        </div>
        
        <button class="button"type="submit">Editar</button>
    </form>
</div>
</body>
</html>
