<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
    <nav class="navbar">
        <div class='max-width'>
           <div class="logo">MusicRepo<span>
               <h1>Biblioteca de Vídeos Musicais</h1>
           </span>
           </div>
           <ul class='menu'>
               <li><a href="/" class="menu-btn"><span>Home</span></a></li>
           </ul>
        
        </div>
     </nav> 
        <h1 class="cadvideotitle">Login</h1>   
        <div class="cadastrovideocont">        
                <form action="/autenticar" method="post">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" value= "<%= user.nome %>" placeholder="Digite o nome da usuário" >
                    <label for="nome">Password:</label>
                    <input type="text" name="password" value= "<%= user.password %>" placeholder="Digite o password" >
                    <input type="submit" value="enviar" class="button">
                </form>
        </div>
</body>
</html>
